.statistics-container div {
  font-size: 16px;
}
.statistics-title {
  font-size: 20px;
  font-weight: bold;
}
::ng-deep .theme-light {
  .statistics-container div,
  .statistics-title {
    color: #5a5a5a;
  }
}

::ng-deep .theme-dark {
  .statistics-container div,
  .statistics-title {
    color: #83ce88;
  }
}
.statistics-container{
  margin-top: 4px;
}
.font-title {
  font-weight: bold;
}

