<div class="row">
  <div class="table-data col-4">
    <app-info-card [toolbar]="false">
      <div class="title mb-10">Datasets</div>
      <mat-divider
        [ngStyle]="{ background: '#83ce88' }"
        class="divider mb-10"></mat-divider>
      <div class="d-flex flex-column database-info-container">
        <ng-container *ngFor="let database of datasetsInfoStats$ | async">
          <div
            class="dataset-info d-flex align-items-center"
            (click)="seeDatabase(database.id)">
            <span class="database-title mr-5"
              >{{ database.title }} | {{ database[showValue] | number }}</span
            >
            <mat-icon
              *ngIf="chartTitle === 'chord'"
              [ngStyle]="{ color: database.colour }"
              >lens</mat-icon
            >
          </div>
        </ng-container>
      </div>
    </app-info-card>
  </div>
  <div class="diagram col-8 d-flex justify-content-center">
    <app-chord-diagram
      class="w-100"
      (chartsTitle)="takeChartTitle($event)"
      (showValue)="showValueHandler($event)"
      (eventDatasets)="setDatasetsInfoStats($event)"></app-chord-diagram>
  </div>
</div>
