<div>
  <mat-card *ngIf="!(loaderService.isLoading | async)" class="p-0 px-20">
    <div class="row justify-content-between">
      <mat-form-field appearance="standard" class="col-4">
        <mat-label class="d-flex align-self-center">
          <mat-icon class="mr-5" color="accent">filter_alt</mat-icon>Filter
        </mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Search in results"
          #input />
      </mat-form-field>
    </div>
  </mat-card>
  <div class="table-container my-15">
    <mat-progress-bar
      *ngIf="loaderService.isLoading | async"
      color="accent"
      mode="query"></mat-progress-bar>
    <table
      [hidden]="loaderService.isLoading | async"
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="w-100 mat-elevation-z2"
      matSort>
      <!-- title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <!-- url Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
        <td mat-cell *matCellDef="let element">{{ element.dataset }}</td>
      </ng-container>
      <!-- triples Column -->
      <ng-container matColumnDef="triples">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Triples</th>
        <td mat-cell *matCellDef="let element">
          {{ element.triples | number }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columnsToDisplay"
        (click)="navigateToDataset(row)"></tr>
    </table>
    <mat-card class="mt-10 p-0">
      <mat-paginator
        [length]="
          (globalSearchRequest$ | async) ? (globalSearchRequest$ | async).totalEntries : 0
        "
        [pageIndex]="
          (globalSearchRequest$ | async) ? (globalSearchRequest$ | async).page : 0
        "
        [pageSize]="
          (globalSearchRequest$ | async) ? (globalSearchRequest$ | async).limit : 0
        "
        [pageSizeOptions]="[5, 10, 15, 25, 50]"
        showFirstLastButtons>
      </mat-paginator>
    </mat-card>
  </div>
</div>
