.section-title {
  font-size: 20px;
  font-weight: bold;
}
.info-section {
  font-size: 18px;
}
::ng-deep .theme-light {
  .section-title {
    color: #5a5a5a;
  }
  .info-section {
    color: #5a5a5a;
  }
}

::ng-deep .theme-dark {
  .section-title {
    color: #83ce88;
  }
  .info-section {
    color: #83ce88;
  }
}
